.layout-default {
    width: 100vw;
    min-width: 800px;
    height: 100vh;
}

.content-area-default {
    width: calc(100% - var(--width-sidebar));
}

.content-area-default--sidebar-shrink {
    width: calc(100% - var(--width-sidebar--shrink));
}

.content-wrapper {
    position: relative;
    height: 100vh;

}

.content-wrapper__header {
    top: 0;
    position: absolute;
    width: 100%;
    background: #fff;

}

.content-wrappr__body {
    padding-top: var(--height-header);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    background-color: var(--main-background-color);
    height: 100vh;
    width: 100%;
}