/* paging */
.pagination {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  /* z-index: 1; */
  background-color: #fff;
  width: 100%;
}

.pagination-container {
  height: 48px;
}

.pagination__left {
  position: -webkit-sticky;
  position: sticky;
  left: 20px;
  white-space: nowrap;
  min-width: 10px;
}

.pagination__right {
  position: sticky;
  right: 12px;
}

.record-in-page {
  margin: 0 16px;
  /* width: 200px; */
  min-width: 200px;
  position: relative;
}

.record-in-page .dropdown-list--up {
  top: unset;
  bottom: 100%;
  left: 0;
}

.pagination-item {
  font-size: 14px;
  color: #3e3e3e;
  cursor: pointer;
}

.page-item {
  min-width: 24px;
  min-height: 24px;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  color: #3e3e3e;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 2px;
}

.page-item--current {
  border: 1px solid #e0e0e0;
  color: #111;
  font-weight: 600;
  pointer-events: none;
  cursor: pointer;
}

.no-click-page {
  color: #9e9e9e;
  cursor: not-allowed !important;
  pointer-events: unset;
}