.content__body {
  background-color: #fff;
  padding: 16px;
  padding-bottom: 0;
  border-radius: var(--border-radius);
  height: calc(100% - 84px);
  width: 100%;
}

.batch-actions {
  position: relative;
  /* border: 2px solid #3b3c3f; */
  border: 1px solid #e6e6e6;
  /* padding: 0 16px; */
  border-radius: var(--border-radius);
  height: 36px;
  transition: all linear 0.3s;
  z-index: 2;
  color: #111;
  user-select: none;
}

.batch-actions.no-pointer {
  color: #757575;
}

.batch-actions:hover {}

.batch-actions:active {
  background-color: #e6e6e6;
  color: #fff;
}

.batch-actions__title {
  font-weight: 600;
  position: relative;
  /* color: inherit; */
  display: inline-block;
  /* transition: all .25s ease; */
  white-space: nowrap;
  font-size: 13px;
  line-height: 13px;
  padding-right: 4px;
  /* color: #111; */
}

.batch-actions__list {
  top: calc(100% + 4px);
  left: unset;
  right: 0;
  background-color: #fff;
  padding: 4px;
  /* width: 100%; */
  min-width: 60px;
}

.content-body-tools__search {
  position: relative;
}

.content-body-tools__search input {
  padding-right: 36px;
}

.content-body-tools__search .icon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
}

.content-body-tools__refresh {
  opacity: 0.5;
  transition: all linear 0.3s;
}

.content-body-tools__refresh:hover {
  opacity: 1;
}

.content-body-tools__export-excel {
  opacity: 0.5;
  transition: all linear 0.3s;
}

.content-body-tools__export-excel:hover {
  opacity: 1;
}

.content-body__table {
  min-width: 100%;
  height: 0;
}