.btn {
    /* margin: 24px; */
    min-width: 80px;
    height: 36px;
    padding: 0 16px;
    font-size: 14px;
    line-height: 36px;
    font-weight: 500;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    outline: unset;
}


.btn~.btn {
    margin-left: 8px;
}

.btn:hover {
    cursor: pointer;
}

.btn--pri {
    color: #fff;
    background: #50b83c;
}

.btn--pri:hover {
    background-color: #57c841;

}

.btn--pri:focus {
    background-color: #409330;
}

.btn--pri:active {
    background-color: #409330;
}

.btn--sub {

    border-radius: 3px;
    border: 1px solid #e6e6e6;
    color: #1f1f1f;
    background: #fff;
}

.btn--sub:hover {
    background-color: #ccc;
    cursor: pointer;
}

.btn--sub:active {
    background-color: #757575;
    color: #fff;
}

.btn--sub:focus {
    background-color: #757575;
    color: #fff;
}

.btn--link {

    color: var(--primary-color);
    background: transparent;
}

.btn--link:hover {
    cursor: pointer;
    background-color: #eee;
}

.btn--link:active {
    background-color: #757575;
}

.btn-icon {
    width: 40px;
    height: 36px;
    background-color: #50b83c1a;
}

.btn-icon:hover {
    cursor: pointer;
    background-color: #a3e4961a;
}

.btn--combobox {
    display: flex;
    /* margin: 24px; */
}

.btn--combobox .btn--combobox__button {
    margin: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.btn--combobox .vertical-border {
    border-color: #fff;
}

.btn--combobox .btn--combobox__icon.icon-wrapper {
    background-color: var(--primary-color);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 36px;
    height: 36px;
}

.btn--combobox .btn--combobox__icon.icon-wrapper:active {
    background-color: #409330;
}

.btn--combobox .btn--combobox__icon.icon-wrapper:hover {
    cursor: pointer;
    background-color: #57c841;
}

.btn--combobox .btn--combobox__icon.icon-wrapper:active {
    background-color: #409330;
}

.btn--combobox__icon .icon {
    transform: rotate(-90deg);
}

.btn-w-icon {
    display: flex;
    margin: 24px;
    width: 100px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    font-weight: 500;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    background: #50b83c;
}


.btn-w-icon:hover {
    background-color: #57c841;
    cursor: pointer;
}

.btn-w-icon:active {
    background-color: #409330;
}