/* Toast message */
.toast-message {
    position: fixed;
    right: 24px;
    bottom: 24px;
    font-size: 14px;
    border-radius: 4px;
    min-height: 56px;
    min-width: 450px;
    width: 450px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.078);
    background-color: #fff;
    z-index: 10;
    animation: fadeIn linear 0.5s forwards;
}

@keyframes fadeIn {
    from {
        right: -500px;
        opacity: 0;
    }

    to {
        right: 24px;
        opacity: 1;
    }
}

.toast__icon.icon-wrapper {
    width: 24px;
    height: 24px;
    margin-left: 16px;
    margin-right: 8px;
}

.toast__content {
    display: flex;
    flex: 1;
}

.toast__title {
    flex-grow: 0;
    flex-shrink: 0;
}

.toast__title.toast__title--success {
    color: #50B83C;
    font-weight: 500;
}

.toast__title.toast__title--error {
    color: red;
    font-weight: 500;
}

.toast__title.toast__title--warning {
    color: yellow;
    font-weight: 500;
}

.toast__content .content {
    margin-left: 4px;
    flex: 1;
}

.toast__close.icon.icon--close-small {

    margin-right: 16px;
    margin-left: 10px;
}

.toast__close.icon--close-small:hover {
    cursor: pointer;
}