.sidebar {
    width: var(--width-sidebar);
    background-color: var(--sidebar-background-color);
}

.sidebar--shrink {
    width: var(--width-sidebar--shrink);
}

.sidebar-container {
    margin-right: 10px;
}

.logo-container {
    padding: 24px;
    height: var(--height-header);
    background-color: var(--sidebar-background-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-container.icon--option {
    background-position: -424px -86px;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.logo-container .logo {
    height: 32px;
    display: block;
}

.logo-container .logo .logo-icon {
    height: 32px;
}

.menu-item-list {
    height: calc(100vh - var(--height-header));
    overflow-y: auto;
    padding: 16px 12px;
    /* margin-right: 10px; */
}

.menu-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 8px;
    flex: none;
    /* line-height: 38px; */
    height: 44px;
    /* border-left: 6px solid transparent; */
    padding-left: 12px;
    padding-right: 12px;
    color: #fff;
    position: relative;
    cursor: pointer;
    opacity: 0.8;
    border-radius: var(--border-radius);
}

.menu-item--active {
    opacity: 1;
    background-color: #525255;
}

.menu-item:hover {
    background-color: #616164;
    border-radius: var(--border-radius);
}

.menu-item .menu-item__icon {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    flex-grow: 0;
    flex-shrink: 0;

}

.menu-item__title {
    font-weight: 400;
    color: #fff;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}